@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 1vh;
    height: 100%;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    /* background: #f7f4ed; */
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #29a9ff;
    border-radius: 100vh;
    border: 0vh solid #4b5563;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #29a9ff;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


.error {
  position: absolute;
  color: red;
  font-size: .8rem;
}
